In [21]:
import csv
from pathlib import Path
import pandas as pd
import numpy as np
import os

In [22]:
csvpath = Path("budget_data.csv")

In [23]:
budget_data = pd.read_csv("budget_data.csv")
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [24]:
month_totals = 0
nettotal = 0
month_of_change = []
net_change_list = []
greatest_increase = ["", 0]
greatest_decrease = ["", 99999999]
total = 0
profit = []
monthly_changes = []
date = []
count = 0
total_profit = 0
total_change_profits = 0
initial_profit = 0
total = 0

In [25]:
with open("budget_data.csv") as budget_data:
    reader = csv.reader(budget_data)
    
    header = next(reader)
      
    
    first_row = next(reader)
    month_totals = month_totals + 1
    nettotal = nettotal + int(first_row[1])
    prev_net = int(first_row[1])
    
    for row in reader:
        
        month_totals = month_totals + 1
        nettotal = nettotal + int(row[1])
        net_change = int(row[1]) - prev_net
        prev_net = int(row[1])
        net_change_list = net_change_list + [net_change]
        month_of_change = month_of_change + [row[0]]
        
    if net_change > greatest_increase[1]:
            greatest_increase[0] = row[0]
            greatest_increase[1] = net_change
            
    if net_change < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease[1] = net_change

In [26]:
net_monthly_avg = round(sum(net_change_list) / len(net_change_list),2)

In [27]:
print(f"Financial Analysis\n")
print(f"Total Months: {month_totals}\n")
print(f"Total: ${nettotal}\n")
print(f"Ave Changes: ${net_monthly_avg}\n")
print(f'Greatest Increase to profit: {greatest_increase[0]} (${greatest_increase[1]})')

Financial Analysis

Total Months: 86

Total: $38382578

Ave Changes: $-2315.12

Greatest Increase to profit: Feb-2017 ($532869)