In [186]:
import pandas as pd
from pathlib import Path
csv_path = Path("Python Homework/PyBank/PyBank.main.ipynb/budget_data.csv")

In [187]:
csvpath = Path("Python Homework/PyBank/PyBank.main.ipynb/budget_data.csv")

In [188]:
budget_dataframe = pd.read_csv("budget_data.csv")
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [189]:
count = 0
total = 0
average = 0
maximum = 0
minimum = 0

In [190]:
total_months = []
total_pnl = []
profitable_months = []
unprofitable_months = []

In [191]:
budget_dataframe['Date'].unique

<bound method Series.unique of 0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object>

In [192]:
total_pnl = [867884, 984655, 322013 -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719,
132003,
309978,
-755566,
1170593,
252788,
1151518,
817256,
570757,
506702,
-1022534,
475062,
779976,
144175,
542494,
359333,
321469,
67780,
471435,
565603,
872480,
789480,
999942,
-1196225,
268997,
-687986,
1150461,
682458,
617856,
824098,
581943,
132864,
448062,
689161,
800701,
1166643,
947333,
578668,
988505,
1139715,
1029471,
687533,
-524626,
158620,
87795,
423389,
840723,
568529,
332067,
989499,
778237,
650000,
-1100387,
-174946,
757143,
445709,
712961,
-1163797,
569899,
768450,
102685,
795914,
60988,
138230,
671099]

In [193]:
for net_total in total_pnl:
    total += net_total
    count += 1

In [194]:
if minimum == 0:
        minimum = net_total
elif net_total < minimum:
    minimum = net_total
elif net_total > maximum:
        maximum = net_total

In [195]:
if net_total > 0:
        profitable_months.append(net_total)
elif net_total <= 0:
        unprofitable_months.append(net_total)

In [196]:
average = round(total / count, 2)

In [197]:
profitable_count = len(profitable_months)
unprofitable_count = len(unprofitable_months)

In [198]:
percent_profitable = profitable_count / count * 100
percent_unprofitable = unprofitable_count / count * 100

In [199]:
print("---------Summary Statistics----------")
print("_______________________________________")

---------Summary Statistics----------
_______________________________________

In [200]:
budget_dataframe['Date'].unique

<bound method Series.unique of 0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object>

In [216]:
print(f"Total Number of Months: {count}")
print(f"Net Total: {total}")
print(f"Average Change: {average}")
print(f"Greatest Decrease In Profits: {minimum}")
print(f"Greatest Increase In Profits: {maximum}")

Total Number of Months: 85
Net Total: 38382578
Average Change: 451559.74
Greatest Decrease In Profits: 671099
Greatest Increase In Profits: 0